<nav class="container">
    <div class="column-10 bg-slate-400 px-3 py-3 float-right">
        <div class="text-white">
            <div class="inline-flex">
                <div class="columns-2">Home</div>
                <div class="columns-2">Experience</div>
                <div class="columns-2">About</div>
                <div class="columns-2">Contact</div>
            </div>
        </div>
    </div>
    <div class="column-2 bg-slate-400 px-3 py-3 border-slate-800">
        <img src="./../../../assets/logo.png"/>
    </div>
</nav>